*{
box-sizing: border-box;
}

body{
font-size:12px;
background:linear-gradient(45deg, #5664b9,#2c8fa3);
}

fieldset{
border: none;
}

h1{
background-color:#313a73;
margin-top:0;
color: aliceblue;
font-size:25px;
padding: 18px 30px;
font-family:'Changa', sans-serif;
}
h2{
font-size:17px;
color:#21274c;
}
    
#container{/*Style the main white border*/
font-family: 'Roboto', sans-serif;
max-width:420px;
width:85%;
margin: 0 auto;
padding: 5px 5px 5px;
background: #fff;
border-bottom: 6px solid #ccc;
border-radius: 1.5em;
margin-bottom:2em;
border-style: inset;
}

.btn{
width:12px;
height:12px;
}

.box{ /*style the box containers*/
font-size: 1em;
font-weight: 300; 
width: 100%;
border: none;
height:3.5em;
padding: 15px;
margin-bottom: 1.2em;
margin-top:0.8em;
border-radius: .3em;
border-bottom: 3px solid rgba(0,0,0, 0.05);
background-color: #e8eeef;
}
    
label, p, select{
color: #8d8c8c;
}

option{
opacity:0.5;
}

textarea[id="feedback"]{
height:4.5em;
}

::placeholder{
text-align: right;
opacity:0.5;
}

hr.style1{
border:1.5px solid;
margin:0;
color:#313a73;
}
hr.style2{
border:0.6px solid;
margin-top:2px;
color:#313a73;
}

input[type="number"]{
width: 50%;
}

input[type="checkbox"],
input[type="radio"]{
margin: 10px 4px 8px 0;
}

input[value="javascript-news"],
input[value="plain-text"]{
margin-bottom:30px;
}

.cntr{ /*Align top and bottom elemements in the form*/
text-align: center;
}

button{
cursor:pointer;
padding:15px 30px;
border-radius:1.5em;
background:linear-gradient(45deg,#2c8fa3, #5664b9);
color:white;
width:80%;
border:none;
margin-bottom:10px;
font-size:16px
}

.copyright{
font-size:12px;
}

.header2{
margin: 25px 0 25px 0;
}
.form input:required:valid{
background-image:url("../pictures/check.svg");
background-position: right top;
background-repeat: no-repeat;
background-size: 20px;
}

input:focus, textarea:focus{
background-color:#e0f5f9;
outline:0;
transform: scale(1.04);
transition: all 0.6s;
}

button:hover{
transform: scale(1.1);
transition: all 0.5s;
}

/*======Media=query=====*/
@media(min-width:768px){
#container{
max-width:800px;
}

.align{
display:flex;
justify-content: space-between;
}

.lbl{
padding:25px 0 25px 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="city"],
select[id="state"]{
width:70%;
}

input[type="number"]{
width: 25%;
margin-right:45%;
}

/*===Font==sizes==*/
body{
font-size:15px; 
}
h1{
font-size:30px;
}
h2{
font-size:22px;
}
button{
font-size:18px;
}
.copyright{
font-size:13px;
}

 }
